:root{
    --verde:#00ff9c;
    --negro:#000;
    --gris:#0a0a0a;
}

/* ========================= */
/* MATRIX FONDO */
/* ========================= */

#matrix{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-2;
}

/* ========================= */
/* LOADER */
/* ========================= */

#loader{
    position: fixed;
    width:100%;
    height:100%;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    color:var(--verde);
    font-family: monospace;
    text-shadow:0 0 15px var(--verde);
    animation: desaparecer 2s forwards;
    animation-delay:2s;
}

@keyframes desaparecer{
    to{
        opacity:0;
        visibility:hidden;
    }
}

/* ========================= */
/* BODY */
/* ========================= */

body{
    font-family:'Poppins', sans-serif;
    background:black;
    color:white;
}

/* ========================= */
/* HEADER */
/* ========================= */

.header-top{
    background:black;
    color:var(--verde);
    text-align:center;
    text-shadow:0 0 8px var(--verde);
}

/* ========================= */
/* NAVBAR */
/* ========================= */

.navbar{
    background:black !important;
    border-bottom:1px solid var(--verde);
    box-shadow:0 0 20px rgba(0,255,156,0.3);
}

.navbar-brand{
    color:var(--verde) !important;
    text-shadow:0 0 10px var(--verde);
}

/* ========================= */
/* TITULO */
/* ========================= */

.titulo{
    color:var(--verde);
    text-shadow:0 0 15px var(--verde);
    text-align:center;
    animation: brillo 2s infinite alternate;
}

@keyframes brillo{
    from{opacity:0.5;}
    to{opacity:1;}
}

/* ========================= */
/* FORMULARIO */
/* ========================= */

.formulario{
    background:#050505 !important;
    border:1px solid var(--verde);
    box-shadow:0 0 25px rgba(0,255,156,0.3);
}

/* SELECT */

.form-select{
    background:black;
    color:white;
    border:1px solid var(--verde);
}

.form-select:focus{
    box-shadow:0 0 15px var(--verde);
}

/* ========================= */
/* CARDS 3D */
/* ========================= */

#resultado .card{
    background:#0a0a0a;
    border:1px solid rgba(0,255,156,0.3);
    transition:0.4s;
    transform-style:preserve-3d;
}

#resultado .card:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.03);
    box-shadow:0 0 25px var(--verde);
}

/* ========================= */
/* MODAL */
/* ========================= */

.modal-content{
    background:black;
    border:1px solid var(--verde);
}

/* ========================= */
/* TOAST */
/* ========================= */

.toast{
    background:black;
    border:1px solid var(--verde);
}
